body { overflow-x:hidden; }

.timespace {
    color: #bbb;
    font-weight: Light;
}

.line {
    border-color: #bbb;
}

.timelinedot {
    position: relative;
    border: 2px solid;
    border-color: #fff;
    width: 15px;
    height: 15px;;
    background-color: #bbb;
    border-radius: 50%;
    right: -8px;
}
.head{
    color: blue;
    text-decoration: underline;
}

.tail{
    color: red;
}

hr {
    margin: 14px auto;
    width: 60%;
    color: #bbb;
}

#project{
 background-color: #eee;
}

#pubItems:hover{
    background-color:#eee;
}

#projectItems:hover{
    transform: scale(1.1);
}